*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto serif TC', sans-serif;
    font-style:normal !important
}
div#redred{
    padding-bottom: 50px;
    padding-top: 30px;
    color: rgb(82, 69, 69);
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color:rgb(241, 246, 149);
    line-height: 1.5em;
    font-family:'Noto Sans TC', sans-serif;
    border: 5px solid;
    border-color: rgb(107, 89, 91);
    background-image: url(../assets/img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
p.redred{
    color:red;
    font-size:32px;
    text-align:left;
    text-indent:2em;
    background-color:snow;
    font-family: 'Noto sans TC', sans-serif;
}

span.blueblue{
    color:brown
}
.expedu_icon {
    color:blue
}
.expedu_icon:hover{
    background-color:blue;
    color:white;
}
.bg-primary {
    background-color: black !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
table{
    width: 100%;
    background-color: powderblue;
    font-style:normal !important

}

table.mytable th{
    text-align: center;
    width: 80%;
    background-color:gainsboro;
    color: rgb(58, 58, 58);
    border: 2.5px solid black;
    font-style:normal !important;
    border: 2.5px solid black;
}
table.mytable td{
    color: rgb(58, 58, 58);
    text-align: center;
    border: 2.5px solid black;
    border-collapse: separate;
    font-style:normal !important
}
table.mytable tr:nth-child(even){
    color: rgb(58, 58, 58);
    background-color:cyan;
    font-style:normal !important;
    border: 2.5px solid black;
    
}
.overflowtest{
    background-color: gainsboro;
    color:cornflowerblue;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70%;
    margin: 30px auto;
    height: 300px;
    overflow: auto
}
ol.list-group>li:hover {
    background-color: rgb(96, 90, 102);
    color: paleturquoise;
    font-style:normal !important;
    font-size:30px
}
   ol.mylist>li:hover {
    background-color: rgb(96, 90, 102);
    color: paleturquoise;
    font-style:normal !important;
    font-size:30px;
}
