*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto serif TC', sans-serif;
}

p.redred{
    color:red;
    font-size:32px;
    text-align:left;
    text-indent:2em;
    background-color:darkkhaki;
    font-family: 'Noto sans TC', sans-serif;
}

.blueblue{
    color:darkblue
}
.expedu_icon {
    color:blue
}
.expedu_icon:hover{
    background-color:blue;
    color:white;
}
.bg-primary {
    background-color: black !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
  